name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          # Create a tag using the unique Commit Hash
          IMAGE_TAG=${{ secrets.DOCKER_USERNAME }}/gemini-frontend:${{ github.sha }}
          
          # Build the image
          docker build -t $IMAGE_TAG .
          
          # Push the image to Docker Hub
          docker push $IMAGE_TAG
  
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            IMAGE_TAG=${{ secrets.DOCKER_USERNAME }}/gemini-frontend:${{ github.sha }}
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            docker stop gemini-live || true
            docker rm gemini-live || true

            docker pull $IMAGE_TAG
            docker run -d --name gemini-live -p 3000:3000 $IMAGE_TAG
